html {
  background-image: linear-gradient(#005265, #000);
  color: #fff;
  height: 1000px;
}

body {
  background: url("../images/stars.svg") 16px repeat;
}

.margin {
  margin-bottom: 0;
}

.regular {
font-family: Montserrat, sans-serif;
}

.script {
font-family: 'Petit Formal Script', cursive;
}

/* .transparent {
  color: rgba(255, 255, 255, 0.5)
} */

@media only screen and (min-width: 25em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  .margin {
    margin-bottom: 4rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  .margin {
    margin-bottom: 0;
  }


}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  .margin {
    margin-bottom: 0;
  }


}
