html {
  background-image: linear-gradient(#005265, #000);
  color: #fff;
  height: 1500px;
}

/* body {
  background: url("../images/stars.svg") 16px repeat;
} */

.margin {
  margin-bottom: 2rem;
}

.you {
  margin-bottom: 1rem;
}

.regular {
  font-family: Montserrat, sans-serif;
}

.script {
  font-family: "Petit Formal Script", cursive;
}

/* .maxwidth {
  max-width: 28rem;
} */

/* .transparent {
  color: rgba(255, 255, 255, 0.5)
} */

@media only screen and (min-width: 25em) {

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  .margin {
    margin-bottom: 3rem;
  }

}

@media only screen and (min-width: 38em) {

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  .margin {
    margin-bottom: 3rem;
  }

  body {
    position: relative;
  }

  .position0 {
    position: absolute;
    top: 50px;
    left: 315px;
  }

  .position1 {
    position: absolute;
    left: 450px;
    top: 170px;
  }

  .position2 {
    position: absolute;
    left: 450px;
    top: 210px;
  }

  .position3 {
    position: absolute;
    left: 150px;
    top: 390px;
  }

  .position4 {
    position: absolute;
    left: 150px;
    top: 430px;
  }

  .position5 {
    position: absolute;
    left: 210px;
    top: 500px;
  }

  .position6 {
    position: absolute;
    left: 450px;
    top: 700px;
  }

}

@media only screen and (min-width: 60em) {

  body {
    position: relative;
  }

  .position0 {
    position: absolute;
    top: 50px;
    left: 600px;
  }

  .position1 {
    position: absolute;
    left: 750px;
    top: 170px;
  }

  .position2 {
    position: absolute;
    left: 750px;
    top: 210px;
  }

  .position3 {
    position: absolute;
    left: 525px;
    top: 350px;
  }

  .position4 {
    position: absolute;
    left: 525px;
    top: 390px;
  }

  .position5 {
    position: absolute;
    left: 525px;
    top: 480px;
  }

  .position6 {
    position: absolute;
    left: 750px;
    top: 700px;
  }

}
