html {
  background-image: linear-gradient(#005265, #000);
  color: #fff;
  height: 1000px;
}

/* body {
  background: url("../images/stars.svg") 16px repeat;
} */

.margin {
  margin-bottom: 2rem;
}

.you {
  margin-bottom: 1rem;
}

.regular {
  font-family: Montserrat, sans-serif;
}

.script {
  font-family: "Petit Formal Script", cursive;
}

.maxwidth {
  max-width: 28em;
}

/* .transparent {
  color: rgba(255, 255, 255, 0.5)
} */

@media only screen and (min-width: 25em) {

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  .margin {
    margin-bottom: 3rem;
  }

}

@media only screen and (min-width: 38em) {

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  .margin {
    margin-bottom: 3rem;
  }

}

@media only screen and (min-width: 60em) {

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  .margin {
    margin-bottom: 4rem;
  }

  body {
    position: relative;
  }

  .position {
    position: absolute;
    left: 5%;
    top: 5%;
  }

}
